## Albion Data - Docker

# NATS configs
NATS_USER=albiondata
NATS_PWD=albiondata

# MySQL
MYSQL_USER=root
MYSQL_PWD=changeme
MYSQL_DB=albion

# Gate
POW_DIFFICULITY=35
POW_PORT=4223
POW_EXPIRE_SECONDS=300
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=2

# Update-check
ADDITIONAL_MESSAGE_CONTENT=""
DISCORD_WEBHOOK_URL=""

# Mysql Exports Path (volume mapped on to ./ao_database_export on proxy/mysql-export/web/sidekiq)
MYSQL_EXPORT_PATH=/db

# Sidekiq Redis
SIDEKIQ_REDIS_HOST=redis
SIDEKIQ_REDIS_PORT=6379
SIDEKIQ_REDIS_DB=4
SIDEKIQ_WEB_USER=admin
SIDEKIQ_WEB_PASS=password

# Rack
RACK_SESSION_SECRET=CHANGE_ME_TO_A_RANDOM_STRING
